/**
 * 截取字符串加...
 */
var subLength = function(str, length) {
  if (str.length > length) {
    return str.substring(0, length) + "...";
  } else {
    return str;
  }
}

/**
 * 截取字符串不加...
 */
var subStr = function(str, length) {
  return str.substring(0, length);
}
/**
 * 截取字符串有头有尾
 */
var subStrStatEnd = function (str, stat, end) {
  return str.substring(stat,end);
}

/**
 * 验证某个元素是否存在元素当中，存在返回下标，否则返回-1
 */
var validateId = function(arrayToSearch, attr, val) {
  for (var i = 0; i < arrayToSearch.length; i++) {
    if (arrayToSearch[i][attr] == val) {
      return i;
    }
  }
  return -1;
}

/**
 * 截取第一张图片
 */
var splitFirstImg = function(imgs) {
  if (imgs.indexOf(",")==-1){
    return imgs;
  }
  return imgs.substring(0, imgs.indexOf(","));
}

module.exports = {
  subLength: subLength,
  validateId: validateId,
  subStr: subStr,
  subStrStatEnd: subStrStatEnd,
  splitFirstImg: splitFirstImg
}